<div id="qbootstrap-couple" class="qbootstrap-section-gray">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 animate-box">
                <div class="col-md-12 text-center section-heading svg-sm colored">
                    <img src="~/images/flaticon/svg/005-two.svg" class="svg" alt="">
                    <h2>Vi gifter oss</h2>
                    <p>Vi skulle bli så glada om ni vill fira vår bröllopsdag med oss.</p>
                    <p><strong>den 29 Juni, 2019 &mdash; Skuleberget, Örnsköldsvik</strong></p>
                </div>
            </div>
        </div>
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="col-md-5 col-sm-5 col-xs-5 nopadding">
                    <img src="~/images/groom.jpg" class="img-responsive" alt="">
                    <h3>Victor Berg</h3>
                    <span>Brudgum</span>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2 nopadding"><h2 class="amp-center"><img src="~/images/flaticon/svg/003-luxury.svg" class="svg img-responsive" alt=""></h2></div>
                <div class="col-md-5 col-sm-5 col-xs-5 nopadding">
                    <img src="~/images/bride.jpg" class="img-responsive" alt="">
                    <h3>Klara Grahm</h3>
                    <span>Brud</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id ="rvsp">
    @Html.Partial("~/Views/Partials/_RvspPartial.cshtml")
</div>





@*<div id="qbootstrap-groom-bride" data-section="groom-bride">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12 text-center section-heading svg-sm-2 colored">
                        <img src="~/images/flaticon/svg/002-wedding-couple.svg" class="svg" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                        <h2>Groom &amp; Bride</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam accusamus, sequi, minima repellendus explicabo magni aperiam, ducimus perferendis ad quidem suscipit omnis unde veritatis pariatur. Commodi, nisi. Iusto, accusantium a.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="couple groom text-center animate-box">
                        <img src="~/images/groom.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                        <div class="desc">
                            <h2>Louie Jie L. Mahusay</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda vero totam eum, necessitatibus reprehenderit nisi, ratione neque aspernatur sapiente minus? Omnis neque labore distinctio aspernatur esse impedit laboriosam, veritatis dolorem!</p>
                            <ul class="social social-circle">
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="couple bride text-center animate-box">
                        <img src="~/images/bride.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                        <div class="desc">
                            <h2>Marializa R. Tabay</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda vero totam eum, necessitatibus reprehenderit nisi, ratione neque aspernatur sapiente minus? Omnis neque labore distinctio aspernatur esse impedit laboriosam, veritatis dolorem!</p>
                            <ul class="social social-circle">
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@*<div id="qbootstrap-story" data-section="story">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12 text-center section-heading svg-sm-2">
                        <img src="~/images/flaticon/svg/003-luxury.svg" class="svg" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                        <h2>Our Love Story</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="timeline animate-box">
                        <li class="animate-box">
                            <div class="timeline-badge" style="background-image:url(~/images/couple-1.jpg);"></div>
                            <div class="timeline-panel">
                                <div class="overlay"></div>
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">First We Meet</h3>
                                    <span class="date">June 10, 2017</span>
                                </div>
                                <div class="timeline-body">
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in .</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted animate-box">
                            <div class="timeline-badge" style="background-image:url(~/images/couple-2.jpg);"></div>
                            <div class="timeline-panel">
                                <div class="overlay overlay-2"></div>
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">First Date</h3>
                                    <span class="date">June 10, 2017</span>
                                </div>
                                <div class="timeline-body">
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in .</p>
                                </div>
                            </div>
                        </li>
                        <li class="animate-box">
                            <div class="timeline-badge" style="background-image:url(~/images/couple-3.jpg);"></div>
                            <div class="timeline-panel">
                                <div class="overlay"></div>
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">In A Relationship</h3>
                                    <span class="date">June 14, 2017</span>
                                </div>
                                <div class="timeline-body">
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in .</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted animate-box">
                            <div class="timeline-badge" style="background-image:url(~/images/couple-4.jpg);"></div>
                            <div class="timeline-panel">
                                <div class="overlay overlay-2"></div>
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">We're Engaged</h3>
                                    <span class="date">Sept. 01, 2017</span>
                                </div>
                                <div class="timeline-body">
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in .</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>*@


<div id="qbootstrap-testimonials" class="qbootstrap-greetings" data-section="stay" data-stellar-background-ratio="0.5" style="background-image: url('../../images/bild1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-12 section-heading text-center svg-sm colored">
                <img src="~/images/flaticon/svg/006-flower-bell-outline-design-variant-with-vines-and-leaves.svg" class="svg" alt="">
                <h2 class="">Boenden</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 animate-box">
                <div class="box-testimony ">
                    <blockquote>
                        <span class="quote"><span><i class="icon-home"></i></span></span>
                        <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                        <a href="#" class="btn btn-primary btn-sm">Mer information</a>
                    </blockquote>
                    @*<p class="author">John Doe</p>*@
                </div>

            </div>
            <div class="col-md-4 animate-box">
                <div class="box-testimony ">
                    <blockquote>
                        <span class="quote"><span><i class="icon-home"></i></span></span>
                        <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.&rdquo;</p>
                        <a href="#" class="btn btn-primary btn-sm">Mer information</a>
                    </blockquote>
                    
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="box-testimony ">
                    <blockquote>
                        <span class="quote"><span><i class="icon-home"></i></span></span>
                        <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                        <a href="#" class="btn btn-primary btn-sm">Mer information</a>
                    </blockquote>
                   

                    @*<p class="author">John Doe</p>*@
                </div>

            </div>
        </div>
    </div>
</div>

@*<div id="qbootstrap-people" data-section="people">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12 text-center section-heading svg-sm colored">
                        <img src="~/images/flaticon/svg/005-two.svg" class="svg" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                        <h2>The Groomsmen</h2>
                        <div class="row">
                        <div class="col-md-10 col-md-offset-1 subtext  ">
                            <h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="row row-bottom-padded-lg">
                <div class="col-md-3 text-center animate-box">
                    <div class="groom-men">
                        <img src="~/images/groom-men-1.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                        <h3>Ian Bill</h3>
                    </div>
                </div>
                <div class="col-md-3 text-center animate-box">
                    <div class="groom-men">
                        <img src="~/images/groom-men-2.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                        <h3>George Smith</h3>
                    </div>
                </div>
                <div class="col-md-3 text-center animate-box">
                    <div class="groom-men">
                        <img src="~/images/groom-men-3.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                        <h3>Brian Thompson</h3>
                    </div>
                </div>
                <div class="col-md-3 text-center animate-box">
                    <div class="groom-men">
                        <img src="~/images/groom-men-4.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                        <h3>David Howard</h3>
                    </div>
                </div>
            </div>
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12 text-center section-heading svg-sm colored">
                        <img src="~/images/flaticon/svg/005-two.svg" class="svg" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                        <h2>The Bridesmaid</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-center animate-box">
                    <div class="groom-men">
                        <img src="~/images/bridesmaid-1.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                        <h3>Angel Thomas</h3>
                    </div>
                </div>
                <div class="col-md-3 text-center animate-box">
                    <div class="groom-men">
                        <img src="~/images/bridesmaid-2.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                        <h3>Kathy Shol</h3>
                    </div>
                </div>
                <div class="col-md-3 text-center animate-box">
                    <div class="groom-men">
                        <img src="~/images/bridesmaid-3.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                        <h3>Rose Mel</h3>
                    </div>
                </div>
                <div class="col-md-3 text-center animate-box">
                    <div class="groom-men">
                        <img src="~/images/bridesmaid-4.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                        <h3>Ann Hathway</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<div id="qbootstrap-when-where" data-section="when-where">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12 text-center section-heading svg-sm colored">
                    <img src="~/images/flaticon/svg/005-two.svg" class="svg" alt="">
                    <h2>Vigsel &amp; Fest</h2>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 subtext">
                            <h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-bottom-padded-md">
            <div class="col-md-6 text-center animate-box">
                <div class="wedding-events">
                    <div class="ceremony-bg" style="background-image: url('../../images/klaravictor.jpg');"></div>
                    <div class="desc">
                        <h3>Vigsel</h3>
                        <div class="row">
                            <div class="col-md-2 col-md-push-5">
                                <div class="icon-tip">
                                    <span class="icon"><i class="icon-heart-o"></i></span>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-pull-1">
                                <div class="date">
                                    <i class="icon-calendar"></i>
                                    <span>Saturday</span>
                                    <span>29 Jun. 2019</span>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-pull-1">
                                <div class="date">
                                    <i class="icon-clock2"></i>
                                    <span>10:00 AM</span>
                                    <span>11:00 AM</span>
                                </div>
                            </div>
                        </div>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        @*<p>
                            <a href="#" class="btn btn-primary btn-sm">Learn more</a>
                        </p>*@
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center animate-box">
                <div class="wedding-events">
                    <div class="ceremony-bg hidden-xs" style="background-image: url('../../images/klaravictor2.jpg');"></div>
                    <div class="desc">
                        <h3>Festen</h3>
                        <div class="row">
                            <div class="col-md-2 col-md-push-5">
                                <div class="icon-tip">
                                    <span class="icon"><i class="icon-heart-o"></i></span>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-pull-1">
                                <div class="date">
                                    <i class="icon-calendar"></i>
                                    <span>Saturday</span>
                                    <span>29 Jun. 2019</span>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-pull-1">
                                <div class="date">
                                    <i class="icon-clock2"></i>
                                    <span>10:00 AM</span>
                                    <span>11:00 AM</span>
                                </div>
                            </div>
                        </div>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-bottom-padded-md">
            <div class="col-md-12 text-center animate-box">
                <div class="wedding-events">
                    <div class="desc">
                        <h3>Allmän information</h3>
                        <p>Något annat - Lorem ipsum</p>
                        <p>Dresscode - Kavaj</p>
                        <p><a href="#" class="btn btn-primary btn-sm">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="map" class="qbootstrap-map"></div>
            </div>
        </div>

    </div>
</div>


<div id="qbootstrap-when-where" data-section="when-where">
<div class="container">
    <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-12 text-center section-heading svg-sm colored">
                <img src="~/images/flaticon/svg/005-two.svg" class="svg" alt="">
                <h2>Såhär kan det se ut</h2>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 subtext">
                        <h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-bottom-padded-md">

        <div class="row row-bottom-padded-md">
            <div class="col-md-12 text-center animate-box">
                <div class="wedding-events">
                    <div class="desc">
                        <h3>Allmän information</h3>
                        <p>Något annat - Lorem ipsum</p>
                        <p>Dresscode - Kavaj</p>
                        <p><a href="#" class="btn btn-primary btn-sm">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>


    <div class="row row-bottom-padded-md">
        <div class="col-md-6 text-center animate-box">
            <div class="wedding-events">
                <div class="desc">
                    <h3>Allmän information</h3>
                    <p>Något annat - Lorem ipsum</p>
                    <p>Dresscode - Kavaj</p>
                    <p><a href="#" class="btn btn-primary btn-sm">Learn more</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-6 text-center animate-box">
            <div class="wedding-events">
                <div class="desc">
                    <h3>Allmän information</h3>
                    <p>Något annat - Lorem ipsum</p>
                    <p>Dresscode - Kavaj</p>
                    <p><a href="#" class="btn btn-primary btn-sm">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-bottom-padded-md">
        <div class="col-md-4 text-center animate-box">
            <div class="wedding-events">
                <div class="desc">
                    <h3>Allmän information</h3>
                    <p>Något annat - Lorem ipsum</p>
                    <p>Dresscode - Kavaj</p>
                    <p><a href="#" class="btn btn-primary btn-sm">Learn more</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 text-center animate-box">
            <div class="wedding-events">
                <div class="desc">
                    <h3>Allmän information</h3>
                    <p>Något annat - Lorem ipsum</p>
                    <p>Dresscode - Kavaj</p>
                    <p><a href="#" class="btn btn-primary btn-sm">Learn more</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 text-center animate-box">
            <div class="wedding-events">
                <div class="desc">
                    <h3>Allmän information</h3>
                    <p>Något annat - Lorem ipsum</p>
                    <p>Dresscode - Kavaj</p>
                    <p><a href="#" class="btn btn-primary btn-sm">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>

<div id="qbootstrap-countdown" data-stellar-background-ratio="0.5" style="background-image: url(../../images/cover_bg_2.jpg);" data-section="wedding-day">
    <div class="overlay"></div>
    <div class="display-over">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-6 section-heading text-center svg-sm colored">
                    <img src="~/images/flaticon/svg/006-flower-bell-outline-design-variant-with-vines-and-leaves.svg" class="svg" alt="">
                    <h2 class="">Bröllopsdagen</h2>
                    <span class="datewed">Lördag den 29e Juni, 2019</span>
                </div>
            </div>
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <p class="countdown">
                        <span id="days"></span>
                        <span id="hours"></span>
                        <span id="minutes"></span>
                        <span id="seconds"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="qbootstrap-groom-bride" data-section="kontakt">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12 text-center section-heading svg-sm-2 colored">
                    <img src="~/images/flaticon/svg/005-two.svg" class="svg" alt="">
                    <h2>Kontakt</h2>
                    <p>Vid funderingar kontakta kvällens toastmasters</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="couple groom text-center animate-box">
                    @* <img src="~/images/groom.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by QBootstrap.com"> *@
                    <div class="desc">
                        <h2>Kalle Engström</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda vero totam eum, necessitatibus reprehenderit nisi, ratione neque aspernatur sapiente minus? Omnis neque labore distinctio aspernatur esse impedit laboriosam, veritatis dolorem!</p>
                        <ul class="social social-circle">
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="couple bride text-center animate-box">
                    @*<img src="~/images/bride.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by QBootstrap.com">*@
                    <div class="desc">
                        <h2>Ebba Nyberg</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda vero totam eum, necessitatibus reprehenderit nisi, ratione neque aspernatur sapiente minus? Omnis neque labore distinctio aspernatur esse impedit laboriosam, veritatis dolorem!</p>
                        <ul class="social social-circle">
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--<div id="qbootstrap-press" data-section="blog">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12 text-center section-heading svg-sm colored">
                    <img src="~/images/flaticon/svg/005-two.svg" class="svg" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <h2>Our Blog</h2>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 subtext">
                            <h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="qbootstrap-press-item animate-box">
                    <div class="qbootstrap-press-img" style="background-image: url(~/images/blog-1.jpg)">
                    </div>
                    <div class="qbootstrap-press-text">
                        <h3 class="h2 qbootstrap-press-title">The Wedding Party <span class="qbootstrap-border"></span></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...</p>
                        <p><a href="#" class="btn btn-primary btn-sm">Learn more</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="qbootstrap-press-item animate-box">
                    <div class="qbootstrap-press-img" style="background-image: url(~/images/blog-2.jpg)">
                    </div>
                    <div class="qbootstrap-press-text">
                        <h3 class="h2 qbootstrap-press-title">Wedding Party <span class="qbootstrap-border"></span></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...</p>
                        <p><a href="#" class="btn btn-primary btn-sm">Learn more</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="qbootstrap-press-item animate-box">
                    <div class="qbootstrap-press-img" style="background-image: url(~/images/blog-3.jpg);">
                    </div>
                    <div class="qbootstrap-press-text">
                        <h3 class="h2 qbootstrap-press-title">Venue Wedding <span class="qbootstrap-border"></span></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...</p>
                        <p><a href="#" class="btn btn-primary btn-sm">Learn more</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="qbootstrap-press-item animate-box">
                    <div class="qbootstrap-press-img" style="background-image: url(~/images/blog-4.jpg);">
                    </div>
                    <div class="qbootstrap-press-text">
                        <h3 class="h2 qbootstrap-press-title">About The Couple <span class="qbootstrap-border"></span></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...</p>
                        <p><a href="#" class="btn btn-primary btn-sm">Learn more</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
-->
