@*<div id="qbootstrap-couple" class="qbootstrap-section-gray">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 animate-box">
                    <div class="col-md-12 text-center section-heading svg-sm colored">
                        <img src="~/images/flaticon/svg/005-two.svg" class="svg" alt="">
                        <h2>Vi gifter oss</h2>
                        <p>
                            Hej och välkommen till vår bröllopssida.
                            Vi skulle bli så glada om just du vill komma och fira med oss
                            Hemsidan kommer att uppdateras med mer detaljer när det närmar sig.
                        </p>
                        <p><strong>den 29 Juni, 2019 &mdash; Skuleberget, Örnsköldsvik</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<div id="qbootstrap-countdown2" data-stellar-background-ratio="0.5" style="background-image: url(../../images/cover_bg_2.jpg);" data-section="wedding-day">
    <div class="overlay"></div>
    <div class="display-over">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-6 section-heading text-center svg-sm colored">
                    <img src="~/images/flaticon/svg/006-flower-bell-outline-design-variant-with-vines-and-leaves.svg" class="svg" alt="">
                    <h2>Vi gifter oss</h2>
                    <p>
                        Hej och välkommen till vår bröllopssida.
                        Vi skulle bli så glada om just du vill komma och fira med oss
                    </p>
                    <p>Hemsidan kommer att uppdateras med mer detaljer när det närmar sig.</p>
                    <p>
                        <strong>den 29 Juni, 2019 &mdash; Skuleberget, Örnsköldsvik</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="qbootstrap-when-where" data-section="when-where">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12 text-center section-heading svg-sm colored">
                    <img src="~/images/flaticon/svg/005-two.svg" class="svg" alt="">
                    <h2>Vigsel &amp; Fest</h2>
                    <div class="row">
                        @*<div class="col-md-10 col-md-offset-1 subtext">
                                <h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-bottom-padded-md">
            <div class="col-md-6 text-center animate-box">
                <div class="wedding-events">
                    <div class="ceremony-bg" style="background-image: url('../../images/klaravictor.jpg');"></div>
                    <div class="desc">
                        <h3>Vigsel</h3>
                        <div class="row">
                            <div class="col-md-2 col-md-push-5">
                                <div class="icon-tip">
                                    <span class="icon"><i class="icon-heart-o"></i></span>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-pull-1">
                                <div class="date">
                                    <i class="icon-calendar"></i>
                                    <span>Lördag</span>
                                    <span>29 Jun. 2019</span>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-pull-1">
                                <div class="date">
                                    <i class="icon-clock2"></i>
                                    <span>15:00</span>
                                </div>
                            </div>
                        </div>
                        <p>Vi hoppas kunna gifta oss på toppen av Skuleberget om vädret tillåter. Till toppen tar man sig med sittlift som avgår från botten av slalombacken. </p>
                        <p>
                            Mingel efter vigseln
                            Efter vigseln kommer vi röra oss mot festlokalen som ligger ca 700 m från liftstationen.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center animate-box">
                <div class="wedding-events">
                    <div class="ceremony-bg hidden-xs" style="background-image: url('../../images/klaravictor2.jpg');"></div>
                    <div class="desc">
                        <h3>Middag & Fest</h3>
                        <div class="row">
                            <div class="col-md-2 col-md-push-5">
                                <div class="icon-tip">
                                    <span class="icon"><i class="icon-heart-o"></i></span>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-pull-1">
                                <div class="date">
                                    <i class="icon-calendar hidden-xs"></i>
                                    <span>Saturday</span>
                                    <span>29 Jun. 2019</span>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-pull-1">
                                <div class="date">
                                    <i class="icon-clock2"></i>
                                    <span>18:00</span>
                                </div>
                            </div>
                        </div>
                        <p>
                            Vi ser verkligen framemot middag och efterföljande fest som kommer hållas i Docksta Bygdegård.
                            För att alla föräldrar ska kunna släppa loss önskar vi att festen blir barnfri, med undantag för riktiga småttingar.3,
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-bottom-padded-md">
            <div class="col-md-4 text-center animate-box">
                <div class="wedding-events">
                    <div class="desc">
                        <h3>Fredagsmingel</h3>
                        <p>Eftersom många gäster kommer långväga tycker vi det skulle vara mysigt att träffa er redan på fredagskväll. Vi kommer mingla vid Bygdegården och FriluftsByn och bjuda på lättare tilltugg och snacks. Fri drop-in under kvällen. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 text-center animate-box">
                <div class="wedding-events">
                    <div class="desc">
                        <h3>Söndagsbrunch</h3>
                        <p>Vi vill gärna samlas dagen efter bröllopet för brunch. Håll utkik efter mer info när det närmar sig.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 text-center animate-box">
                <div class="wedding-events">
                    <div class="desc">
                        <h3>Klädsel</h3>
                        <p><strong>Kavaj</strong></p>
                        <p>Tänk på att anpassa klädseln något efter miljön vi kommer att befinna oss i. Eftersom vigseln sker utomhus och de svenska vädergudarna är högst opålitliga kan det vara bra att ha med något värmande plagg.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="qbootstrap-testimonials" class="qbootstrap-greetings" data-section="stay" data-stellar-background-ratio="0.5" style="background-image: url('../../images/camping2.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-12 section-heading text-center svg-sm colored">
                <img src="~/images/flaticon/svg/006-flower-bell-outline-design-variant-with-vines-and-leaves.svg" class="svg" alt="">
                <h2 class="">Boenden</h2>
                <div id="residentinfo">
                    <p>
                        Vi rekommenderar boende i FriluftsByn som ligger på krypavstånd från festlokalen. FriluftsByn erbjuder följande boendealternativ: fem stycken mysiga familjestugor, 10 stycken enkla campingstugor och nio stycken moderna friluftsbodar. De flesta boendealternativen rymmer fler än två personer så prata gärna ihop er med andra och lägg till vilka ni vill dela stuga med under ”önskemål” när ni OSAr. Det finns även gott om tältplats. Kolla in FriluftsByns hemsida för mer information och priser (länk).
                        Hela FriluftsByn är abonnerad till våra bröllopsgäster, men senaste 31/1 måste vi meddela hur många boenden vi vill boka. Därför är det viktigt att OSA i tid.
                    </p>
                    <p>
                        Klara och Victor ansvarar alltså för bokningen till FriluftsByn och kommer i god tid innan bröllopet skicka ut bekräftelse kring boendet tillsammans med betalningsinstruktion.
                    </p>
                    <p>
                        Som ni ser är boendet som FriluftsByn erbjuder väldigt mysigt men också väldigt enkelt. Skulle ni av någon anledning vilja ha en annan standard på boendet kan ni så klart boka sådant på egen hand och i så fall kan vi rekommendera:<br />
                        - <a href="http://www.villaorrbacken.se/">Orrbacken Pensionat</a><br />
                        - <a href="http://www.hotellhoga-kusten.se/">Hotell Höga Kusten</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 animate-box">
                <div class="box-testimony ">
                    <blockquote>
                        <span class="quote"><span><i class="icon-home"></i></span></span>
                        <p>Fem stycken mysiga familjestugor</p>
                        <a href="http://friluftsbyn.se/boende-hoga-kusten/hyr-stuga-hoga-kusten/" target="_blank" class="btn btn-primary btn-sm">Läs mer</a>
                    </blockquote>
                </div>

            </div>
            <div class="col-md-4 animate-box">
                <div class="box-testimony ">
                    <blockquote>
                        <span class="quote"><span><i class="icon-home"></i></span></span>
                        <p>Nio stycken moderna friluftsbodar. </p>
                        <a href="http://friluftsbyn.se/boende-hoga-kusten/friluftsbodarna/" target="_blank" class="btn btn-primary btn-sm">Läs mer</a>
                    </blockquote>

                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="box-testimony ">
                    <blockquote>
                        <span class="quote"><span><i class="icon-home"></i></span></span>
                        <p>10 stycken enkla campingstugor </p>
                        <a href="http://friluftsbyn.se/boende-hoga-kusten/campingstuga-hoga-kusten/" target="_blank" class="btn btn-primary btn-sm">Läs mer</a>
                    </blockquote>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="rvsp">
    @Html.Partial("~/Views/Partials/_RvspPartial.cshtml")
</div>

<div id="qbootstrap-findyourway" data-stellar-background-ratio="0.5" style="background-image: url(../../images/cover_bg_2.jpg);" data-section="find-your-way">
    <div class="overlay"></div>
    <div class="display-over">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-6 section-heading text-center svg-sm colored">
                    <img src="~/images/flaticon/svg/006-flower-bell-outline-design-variant-with-vines-and-leaves.svg" class="svg" alt="">
                    <h2 class="">Hitta hit</h2>
                    <div id="map" style="height:400px"></div>
                    </div>
                </div>
        </div>
    </div>
</div>
@*<div id="qbootstrap-wishlist" class="qbootstrap-section-gray" data-section="wishlist">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 animate-box">
                    <div class="col-md-12 text-center section-heading svg-sm colored">
                        <img src="~/images/flaticon/svg/005-two.svg" class="svg" alt="">
                        <h2>Önskelista</h2>
                        <p>Den bästa presenten är att ni närvarar på vår dag. Men om ni ändå vill ge något litet, önskar vi oss främst bidrag till bröllopsresan (Länsförsäkringar; 9024 72 699 66)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<div id="qbootstrap-wishlist" data-stellar-background-ratio="0.5" style="background-image: url(../../images/cover_bg_2.jpg);" data-section="wishlist">
    <div class="overlay"></div>
    <div class="display-over">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-6 section-heading text-center svg-sm colored">
                    <img src="~/images/flaticon/svg/006-flower-bell-outline-design-variant-with-vines-and-leaves.svg" class="svg" alt="">
                    <h2 class="">Önskelista</h2>
                    <p>Den bästa presenten är att ni närvarar på vår dag. Men om ni ändå vill ge något litet, önskar vi oss främst bidrag till bröllopsresan (Länsförsäkringar; 9024 72 699 66)</p>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div id="qbootstrap-wishlist" class="qbootstrap-section-gray" data-section="wishlist">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 animate-box">
                    <div class="col-md-12 text-center section-heading svg-sm colored">
                        <img src="~/images/flaticon/svg/005-two.svg" class="svg" alt="">
                        <h2>Önskelista</h2>
                        <p>Den bästa presenten är att ni närvarar på vår dag. Men om ni ändå vill ge något litet, önskar vi oss främst bidrag till bröllopsresan (Länsförsäkringar; 9024 72 699 66)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>*@


<div id="qbootstrap-groom-bride" data-section="kontakt">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 boxmargin">
                <div class="col-md-12 text-center section-heading svg-sm-2 colored">
                    <img src="~/images/flaticon/svg/005-two.svg" class="svg" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <h2>Kontakt</h2>
                    <p>
                        Om det är något ni undrar över, tveka inte att kontakta brudparet<br/>
                        <div class="row">
                            <div class="col-md-2"></div>

                            <div class="col-md-4 text-center">
                                <strong>Victor</strong><br/>
                                070 318 28 72<br/>
                                berg.victor3@gmail.com<br/>
                            </div>
                            <div class="col-md-4 text-center">
                                <strong>Klara</strong><br/>
                                076 243 09 80<br/>
                                klaragrahm@gmail.com<br/>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <br/>Vill ni hålla tal eller göra något annat spexigt under middagen? Ta kontakt med vårt eminenta toastmasterpar.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="couple groom text-center animate-box">
                    <img src="~/images/groom.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <div class="desc">
                        <h2>Kalle Engström Ahlnäs</h2>
                        <p>Vem är Kalle? Örebroare som man omöjligen kan ha tråkigt med. Lyckades ta sig igenom ett halvår i Mexiko trots att han avskyr koriander. Är likt brudgummen ytterst känslostyrd och har ibland behov av att intervjua sig själv i badkaret. Intervjuerna håller nog hög klass eftersom det rör sig om en storyteller av guds nåde.</p>
                        <ul class="social">
                            <li class="leftitem"><a href="#"><i><strong>kalle.a.engstrom@gmail.com</strong></i></a></li>
                            <li class="rightitem"><a href="#"><i><strong>070 925 48 73</strong></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="couple bride text-center animate-box">
                    <img src="~/images/groom.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <div class="desc">
                        <h2>Ebba Nyberg</h2>
                        <p>Vem är Ebba? Kvällens fantastiska toastmadame. Bästa vän (och på något långsökt sätt släkting) med bruden sedan barndomen. Är rivig arkitekt och entusiastisk loppisdrottning som mer än gärna fyndar till brudparet. Stöttepelare i allmänhet och i synnerhet gällande planeringen av denna tillställning trots att hon är allergisk mot just planering.</p>
                        <ul class="social">
                            <li class="leftitem"><a href="#"><i><strong>nyberg.ebba@gmail.com</strong></i></a></li>
                            <li class="rightitem"><a href="#"><i><strong>070 835 25 29</strong></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*--------------Liten countdown-------------*@
@*<div id="qbootstrap-countdown" data-stellar-background-ratio="0.5" style="background-image: url(../../images/cover_bg_2.jpg);" data-section="wedding-day">
    <div class="overlay"></div>
    <div class="display-over">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-6 section-heading text-center svg-sm colored">
                    <img src="~/images/flaticon/svg/006-flower-bell-outline-design-variant-with-vines-and-leaves.svg" class="svg" alt="">
                    <h2 class="">Bröllopsdagen</h2>
                    <span class="datewed">Lördag den 29e Juni, 2019</span>
                </div>
                <div class="col-md-6 text-center">
                    <p class="countdown">
                        <span id="days"></span>
                        <span id="hours"></span>
                        <span id="minutes"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>*@
@*------------stor countdown-------------*@
@*<div id="qbootstrap-countdown" data-stellar-background-ratio="0.5" style="background-image: url(../../images/cover_bg_2.jpg);" data-section="wedding-day">
        <div class="overlay"></div>
        <div class="display-over">
            <div class="container">
                <div class="row animate-box">
                    <div class="col-md-6 section-heading text-center svg-sm colored">
                        <img src="~/images/flaticon/svg/006-flower-bell-outline-design-variant-with-vines-and-leaves.svg" class="svg" alt="">
                        <h2 class="">Bröllopsdagen</h2>
                        <span class="datewed">Lördag den 29e Juni, 2019</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <p class="countdown">
                            <span id="days"></span>
                            <span id="hours"></span>
                            <span id="minutes"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

