<div id="qbootstrap-testimonials" class="qbootstrap-greetings" data-section="stay" data-stellar-background-ratio="0.5" style="background-image: url('../../images/camping2.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-12 section-heading text-center svg-sm colored">
                <img src="~/images/flaticon/svg/006-flower-bell-outline-design-variant-with-vines-and-leaves.svg" class="svg" alt="">
                <h2 class="">Boenden</h2>
                <div id="residentinfo">
                    <p>
                        Vi rekommenderar boende i FriluftsByn som ligger på krypavstånd från festlokalen. FriluftsByn erbjuder mysiga familjestugor, moderna friluftsbodar och enkla campingstugor. De flesta boendealternativen rymmer fler än två personer så prata gärna ihop er med andra och lägg till vilka ni vill dela stuga med under ”önskemål” när ni OSAr. Det finns även gott om tältplats. Kolla in <strong><a href="http://friluftsbyn.se/boende-hoga-kusten/" target="_blank">FriluftsByns hemsida</a></strong> för mer information och priser.
                        Hela FriluftsByn är abonnerad till våra bröllopsgäster, men senaste 31/1 måste vi meddela hur många boenden vi vill boka. Därför är det viktigt att OSA i tid.
                    </p>
                    <p>
                        Klara och Victor ansvarar alltså för bokningen till FriluftsByn och kommer i god tid innan bröllopet skicka ut bekräftelse kring boendet tillsammans med betalningsinstruktion.
                    </p>
                    <p>
                        Som ni kan se nedan är boendealternativen som FriluftsByn erbjuder väldigt mysigt men också väldigt enkelt. Skulle ni vilja ha annan standard på boendet kan ni boka sådant på egen hand och i så fall kan vi rekommendera:<br />
                        - <strong><a href="http://www.villaorrbacken.se/" target="_blank">Orrbacken Pensionat</a></strong><br />
                        - <strong><a href="http://www.hotellhoga-kusten.se/" target="_blank">Hotell Höga Kusten</a></strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 animate-box">
                <div class="box-testimony ">
                    <blockquote>
                        <span class="quote"><span><i class="icon-home"></i></span></span>
                        <p>Fem stycken mysiga familjestugor</p>
                        <a href="http://friluftsbyn.se/boende-hoga-kusten/hyr-stuga-hoga-kusten/" target="_blank" class="btn btn-primary btn-sm">Läs mer</a>
                    </blockquote>
                </div>

            </div>
            <div class="col-md-4 animate-box">
                <div class="box-testimony ">
                    <blockquote>
                        <span class="quote"><span><i class="icon-home"></i></span></span>
                        <p>Nio stycken moderna friluftsbodar. </p>
                        <a href="http://friluftsbyn.se/boende-hoga-kusten/friluftsbodarna/" target="_blank" class="btn btn-primary btn-sm">Läs mer</a>
                    </blockquote>

                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="box-testimony ">
                    <blockquote>
                        <span class="quote"><span><i class="icon-home"></i></span></span>
                        <p>10 stycken enkla campingstugor </p>
                        <a href="http://friluftsbyn.se/boende-hoga-kusten/campingstuga-hoga-kusten/" target="_blank" class="btn btn-primary btn-sm">Läs mer</a>
                    </blockquote>
                </div>

            </div>
        </div>
    </div>
</div>