<div id="qbootstrap-groom-bride" data-section="kontakt">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 boxmargin">
                <div class="col-md-12 text-center section-heading svg-sm-2 colored">
                    <img src="~/images/flaticon/svg/005-two.svg" class="svg" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <h2>Kontakt</h2>
                    <p>
                        Om det är något ni undrar över, tveka inte att kontakta brudparet<br />
                        <div class="row">
                            <div class="col-md-2"></div>

                            <div class="col-md-4 text-center">
                                <strong>Victor</strong><br />
                                070 318 28 72<br />
                                berg.victor3@gmail.com<br />
                            </div>
                            <div class="col-md-4 text-center">
                                <strong>Klara</strong><br />
                                076 243 09 80<br />
                                klaragrahm@gmail.com<br />
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <br />Vill ni hålla tal eller göra något annat spexigt under middagen? Ta kontakt med vårt eminenta toastmasterpar.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 boxmargintopfirst">
                <div class="couple groom text-center animate-box">
                    <img src="~/images/IMG_2145.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <div class="desc">
                        <h2>Kalle Engström Ahlnäs</h2>
                        <p>Vem är Kalle? Skojfrisk örebroare som man omöjligen kan ha tråkigt med. Lyckades ta sig igenom ett halvår i Mexiko trots att han avskyr koriander. Är likt brudgummen ytterst känslostyrd och har ibland behov av att intervjua sig själv i badkaret. Intervjuerna håller nog hög klass eftersom det rör sig om en storyteller av guds nåde.</p>
                        <ul class="social">
                            <li class="leftitem"><a href="mailto:kalle.a.engstrom@gmail.com"><i><strong>kalle.a.engstrom@gmail.com</strong></i></a></li>
                            <li class="rightitem"><a href="#"><i><strong>070 925 48 73</strong></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 boxmargintop">
                <div class="couple groom text-center animate-box">
                    <img src="~/images/IMG_2697.png" class="img-responsive" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <div class="desc">
                        <h2>Ebba Nyberg</h2>
                        <p>Vem är Ebba? Bästa vän (och på något långsökt sätt släkting) med bruden sedan barndomen. Är rivig arkitekt och entusiastisk loppisdrottning som mer än gärna fyndar till brudparet. Stöttepelare i allmänhet och i synnerhet gällande planeringen av denna tillställning trots att hon är allergisk mot just planering.</p>
                        <ul class="social">
                            <li class="leftitem"><a href="mailto:nyberg.ebba@gmail.com"><i><strong>nyberg.ebba@gmail.com</strong></i></a></li>
                            <li class="rightitem"><a href="#"><i><strong>070 835 25 29</strong></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>