<div id="qbootstrap-when-where" data-section="when-where">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12 text-center section-heading svg-sm colored">
                    <img src="~/images/flaticon/svg/005-two.svg" class="svg" alt="">
                    <h2>Bröllopshelgen</h2>
                    <div class="row">
                        @*<div class="col-md-10 col-md-offset-1 subtext">
                                <h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-bottom-padded-md">
            <div class="col-md-6 text-center animate-box">
                <div class="wedding-events">
                    <div class="ceremony-bg" style="background-image: url('../../images/klaravictor.jpg');"></div>
                    <div class="desc">
                        <h3>Vigsel</h3>
                        <div class="row">
                            <div class="col-md-2 col-md-push-5">
                                <div class="icon-tip">
                                    <span class="icon"><i class="icon-heart-o"></i></span>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-pull-1 mobile-padding">
                                <div class="date">
                                    <i class="icon-calendar hidden-xs"></i>
                                    <span>Lördag</span>
                                    <span>29 Juni 2019</span>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-pull-1">
                                <div class="date">
                                    <i class="icon-clock2"></i>
                                    <span>14:00</span>
                                </div>
                            </div>
                        </div>
                        <p>Vi hoppas kunna gifta oss på toppen av Skuleberget om vädret tillåter. Till toppen tar man sig med sittlift som avgår från botten av slalombacken. </p>
                        <p>
                            <strong>Mingel efter vigseln</strong> <br />
                            Efter vigseln kommer vi röra oss mot festlokalen som ligger ca 700 m från liftstationen.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center animate-box">
                <div class="wedding-events">
                    <div class="ceremony-bg hidden-xs" style="background-image: url('../../images/klaravictor2.jpg');"></div>
                    <div class="desc">
                        <h3>Middag & Fest</h3>
                        <div class="row">
                            <div class="col-md-2 col-md-push-5">
                                <div class="icon-tip">
                                    <span class="icon"><i class="icon-heart-o"></i></span>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-pull-1 mobile-padding">
                                <div class="date">
                                    <i class="icon-calendar hidden-xs"></i>
                                    <span>Lördag</span>
                                    <span>29 Juni 2019</span>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-pull-1">
                                <div class="date">
                                    <i class="icon-clock2"></i>
                                    <span>18:00</span>
                                </div>
                            </div>
                        </div>
                        <p>
                            Vi ser verkligen framemot middag och efterföljande fest som kommer hållas i Docksta Bygdegård.
                            För att alla föräldrar ska kunna släppa loss önskar vi att festen blir barnfri, med undantag för riktiga småttingar.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-bottom-padded-md">
            <div class="col-md-4 text-center animate-box">
                <div class="wedding-events">
                    <div class="desc">
                        <h3>Fredagsmingel</h3>
                        <p>Eftersom många gäster kommer långväga tycker vi det skulle vara mysigt att träffa er redan på fredagskväll. Vi kommer mingla vid Bygdegården och FriluftsByn och bjuda på lättare tilltugg och snacks. Fri drop-in under kvällen. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 text-center animate-box">
                <div class="wedding-events">
                    <div class="desc">
                        <h3>Söndagsbrunch</h3>
                        <p>Vi vill gärna samlas dagen efter bröllopet för brunch. Håll utkik efter mer info när det närmar sig.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 text-center animate-box">
                <div class="wedding-events">
                    <div class="desc">
                        <h3>Klädsel</h3>
                        <p><strong>Kavaj</strong></p>
                        <p>Tänk på att anpassa klädseln något efter miljön vi kommer att befinna oss i. Eftersom vigseln sker utomhus och de svenska vädergudarna är högst opålitliga kan det vara bra att ha med något värmande plagg.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>