<div id="qbootstrap-when-where" data-section="when-where">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12 text-center section-heading svg-sm colored">
                    <h2>Bröllopshelgen</h2>
                    <div class="row">
                        @*<div class="col-md-10 col-md-offset-1 subtext">
                                <h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-bottom-padded-md">
            <div class="col-md-6 text-center animate-box">
                <div class="wedding-events">
                    <div class="ceremony-bg" style="background-image: url('../../images/toppen.jpg');"></div>
                    <div class="desc">
                        <h3>Vigsel</h3>
                        <div class="row">
                            <div class="col-md-2 col-md-push-5">
                                <div class="icon-tip">
                                    <span class="icon"><i class="icon-heart-o"></i></span>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-pull-1 mobile-padding">
                                <div class="date">
                                    <i class="icon-calendar hidden-xs"></i>
                                    <span>Lördag</span>
                                    <span>29 Juni 2019</span>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-pull-1">
                                <div class="date">
                                    <i class="icon-clock2"></i>
                                    <span>16:00</span>
                                </div>
                            </div>
                        </div>
                        <p>Vigseln kommer att hållas utomhus vid Bygdegården.</p>          
                        <p>
                            <strong>Mingel efter vigseln</strong> <br />
                            Efter vigseln minglar vi tillsammans utanför Bygdegården.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center animate-box">
                <div class="wedding-events">
                    <div class="ceremony-bg hidden-xs" style="background-image: url('../../images/klaravictor.jpg');"></div>
                    <div class="desc">
                        <h3>Middag & Fest</h3>
                        <div class="row">
                            <div class="col-md-2 col-md-push-5">
                                <div class="icon-tip">
                                    <span class="icon"><i class="icon-heart-o"></i></span>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-pull-1 mobile-padding">
                                <div class="date">
                                    <i class="icon-calendar hidden-xs"></i>
                                    <span>Lördag</span>
                                    <span>29 Juni 2019</span>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-pull-1">
                                <div class="date">
                                    <i class="icon-clock2"></i>
                                    <span>18:00</span>
                                </div>
                            </div>
                        </div>
                        <p>
                            Vi ser verkligen framemot middag och efterföljande fest som kommer hållas i Docksta Bygdegård.
                            För att alla föräldrar ska kunna släppa loss önskar vi att festen blir barnfri, med undantag för riktiga småttingar.
                        </p>
                        <p>
                            <strong>Klädsel</strong><br/>
                            Kavaj
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-bottom-padded-md">
            <div class="col-md-12 text-center animate-box">
                <div class="wedding-events">
                    <div class="desc">
                        <h3>Topptur</h3>
                        <div class="row">
                            <div class="col-md-2 col-md-push-5">
                                <div class="icon-tip">
                                    <span class="icon">
                                        <span class="large"></span><i class="icon-heart-o"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-pull-1 mobile-padding">
                                <div class="date">
                                    <i class="icon-calendar hidden-xs"></i>
                                    <span>Lördag</span>
                                    <span>29 Juni 2019</span>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-pull-1">
                                <div class="date">
                                    <i class="icon-clock2"></i>
                                    <span>10:00</span>
                                </div>
                            </div>
                        </div>
                        <p>
                        <p>Liften till Skulebergets topp står tyvärr stilla på grund av tekniska problem och kommer inte att vara i bruk tills bröllopet. Det är därför bestämt att vigseln ska hållas nere vid sjön intill festlokalen. Brudparet vill dock gärna uppleva magin på toppen tillsammans med er gäster och har därför ordnat en gemensam topptur till fots på förmiddagen. Vi går upp vid kl. 10 (tar ca 45-60 min) i lämpliga kläder och skor. Väl på toppen finns det möjlighet att köpa en lättare lunch i Toppstugan. Vi räknar med att turen tar max 3 timmar, men det är naturligtvis beroende på hur länge man stannar på toppen. </p>
                        <p>Om du inte följer med på toppturen rekommenderar vi en promenad runt berget till Skule Gastro Café, som är ett bra lunchalternativ.</p>  
                    </div>
                </div>
            </div>
        </div>
       
        <div class="row row-bottom-padded-md">
                <div class="col-md-6 text-center animate-box">
                    <div class="wedding-events">
                        <div class="desc">
                            <h3>Uppvärmning</h3>
                            <div class="row">
                                <div class="col-md-2 col-md-push-5">
                                    <div class="icon-tip">
                                        <span class="icon"><i class="icon-heart-o"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-5 col-md-pull-1 mobile-padding">
                                    <div class="date">
                                        <i class="icon-calendar hidden-xs"></i>
                                        <span>Fredag</span>
                                        <span>28 Juni 2019</span>
                                    </div>
                                </div>
                                <div class="col-md-5 col-md-pull-1">
                                    <div class="date">
                                        <i class="icon-clock2"></i>
                                        <span>17:00</span>
                                    </div>
                                </div>
                            </div>
                            <p>Eftersom många gäster kommer långväga tycker vi det skulle vara mysigt att träffa er redan på fredagskväll. Vi kommer mingla vid Bygdegården och FriluftsByn och bjuda på lättare tilltugg och snacks. Fri drop-in under kvällen. </p>
                        </div>
                    </div>
                </div>

            <div class="col-md-6 text-center animate-box">
                <div class="wedding-events">
                    <div class="desc">
                        <h3>Brunch</h3>
                        <div class="row">
                            <div class="col-md-2 col-md-push-5">
                                <div class="icon-tip">
                                    <span class="icon"><i class="icon-heart-o"></i></span>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-pull-1 mobile-padding">
                                <div class="date">
                                    <i class="icon-calendar hidden-xs"></i>
                                    <span>Söndag</span>
                                    <span>30 Juni 2019</span>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-pull-1">
                                <div class="date">
                                    <i class="icon-clock2"></i>
                                    <span>11:00 - 13:00</span>
                                </div>
                            </div>
                        </div>
                        <p>Vi rundar av helgen med en enklare söndagsbrunch i FriluftsByn för övernattande gäster. </p>
                    </div>
                </div>
            </div>

            @*<div class="col-md-4 text-center animate-box">
                <div class="wedding-events">
                    <div class="desc">
                        <h3>Klädsel</h3>
                        <p><strong>Kavaj</strong></p>
                        <p>Tänk på att anpassa klädseln något efter miljön vi kommer att befinna oss i. Eftersom vigseln sker utomhus och de svenska vädergudarna är högst opålitliga kan det vara bra att ha med något värmande plagg.</p>
                    </div>
                </div>
            </div>*@
            </div>
           


        </div>
    </div>
