<div id="qbootstrap-wishlist" data-stellar-background-ratio="0.5" style="background-image: url(../../images/cover_bg_2.jpg);" data-section="wishlist">
    <div class="overlay"></div>
    <div class="display-over">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-6 section-heading text-center svg-sm colored">
                    <h2 class="">Önskelista</h2>
                    <p>Den bästa presenten är att ni närvarar på vår dag. Men om ni ändå vill ge något litet, önskar vi oss främst bidrag till bröllopsresan. </p>
                    <p class="number-color">(Länsförsäkringar; 9024 72 699 66)</p>
                </div>
            </div>
        </div>
    </div>
</div>